/*!CK:603111607!*//*1384268921,173213499*/

.fbIndexFeaturePhone{height:295px;padding-top:45px;width:550px}
.fbIndexFeaturePhone .phoneImage{margin-left:30px}
.fbIndexFeaturePhone .rightSide{width:360px}
.fbIndexFeaturePhone .listAndButton{border-bottom:1px solid #aaa;padding-bottom:30px}
.fbIndexFeaturePhone .title,
.fbIndexFeaturePhone .subtitle{color:#203360;font-weight:bold}
.fbIndexFeaturePhone .title{font-size:22px}
.fbIndexFeaturePhone .subtitle{font-size:15px;margin-right:50px}
.fbIndexFeaturePhone .list{font-size:14px}
.fbIndexFeaturePhone .listelt{font-size:15px;padding-bottom:10px;color:#888}
.fbIndexFeaturePhone .mobileButton{margin-top:10px;padding-top:5px;padding-bottom:5px;padding-left:30px;padding-right:30px}
.fbIndexFeaturePhone .logoGrid{margin-top:20px;margin-bottom:20px}
.fbIndexFeaturePhone .belowLineSpecial{width:380px}
._3q-2{margin-left:auto;margin-right:auto;position:relative;width:980px}

#bootloader_TKQvZ { height: 42px; }
.bootloader_TKQvZ { display:block !important; }